.beAimCompany {
  background: #ebe9e9;
}
.rightHand h2 {
  color: #000;
  font-weight: bold;
}
.rightHand {
  padding-top: 5rem;
}
.rightHand p {
  color: #939191;
  font-weight: 300;
  font-size: 19px;
  padding-top: 15px;
  line-height: 35px;
}
.leftHand {
  padding: 3em;
}
.btn1 {
  background: #000;
  color: #fff;
  padding: 13px;
  border: 0;
  font-size: 18px;
  width: 33%;
  font-weight: 500;
  border-radius: 5px;
}
.btn1:hover {
  background: #d5af2a;
  color: #000;
  padding: 13px;
  border: 0;
  font-size: 18px;
  width: 33%;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  font-weight: 500;
  box-shadow: 0px 3px 8px 1px #c1bdbd;
}
.btn2 {
  background: #d5af2a;
  color: #fff;
  padding: 8px;
  border: 0;
  font-size: 17px;
  width: 26%;
}
.companyButton {
  text-align: left;
  margin-top: 2em;
}
