.Navbar {
  height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}

.Navbar > .navLogo {
  font-weight: 700;
  font-size: 21px;
  margin: 15px;
  color: #ffffff;
}

.Navbar > .navItems > a {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  margin: 15px;
  position: relative;
  opacity: 0.9;
}

.Navbar > .navItems > a:hover {
  opacity: 1;
}

.Navbar > .navItems > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: all 0.45s;
}

.Navbar > .navItems > a:hover::before {
  width: 100%;
}

.Navbar > .navToggle {
  display: none;
}
.desktopNav {
  display: block;
}
.desktopNav a {
  text-transform: uppercase;
  font-weight: 700;
}
.desktopNav a:hover {
  color: var(--primaryColor);
  /* -webkit-text-stroke: 1px rgb(214, 214, 214); */
}
.mobNav {
  display: none;
}
.hamburger {
  display: none;
}
@media (max-width: 700px) {
  .desktopNav {
    display: none;
  }
  .mobNav {
    display: block;
    width: 100%;
    position: fixed;
    inset: 0;
    background: #000;
    z-index: 9999 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-500px);
    transition: 0.5s;
  }
  .mobNavOpacity {
    transform: translateX(0px);
  }
  .mobNav a {
    padding: 10px;
    text-align: center;
    width: 100%;
    display: block;
    color: #000 !important;
    background: #fdce4c;
  }
  .hamburger {
    position: relative;
    z-index: 9999999;
    display: block;
    transform: rotate(-360deg);
    background: #ffffff05;
    border: 0;
  }
  .Navbar > .navItems {
    /* position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    background: #3b4da7;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.45s; */
  }

  /* .Navbar > .navItems > a::before {
    background: transparent;
  }

  .Navbar > .navItems.open {
    transform: translateX(0);
  }

  .Navbar > .navToggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .navToggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background: #000000;
    transition: all 0.45s ease-in-out;
  }

  .navToggle > .bar::before,
  .navToggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #000000;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }

  .navToggle > .bar::before {
    width: 25px;
    transform: translateY(-8px);
    right: 0;
  }

  .navToggle > .bar::after {
    width: 32px;
    transform: translateY(8px);
  }

  .navToggle.open > .bar {
    transform: translateX(-40px);
    background: transparent;
  }

  .navToggle.open > .bar::before {
    width: 32px;
    transform: rotate(45deg) translate(26px, -26px);
  }

  .navToggle.open > .bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  } */
}
